# IDE
.idea/
*.iml
.vscode/

# OS
.DS_Store
Thumbs.db

# Frontend
frontend/node_modules/
frontend/dist/

# Backend
backend/target/
backend/*.log
backend/clinic-common/target/
backend/clinic-pojo/target/
backend/clinic-server/target/
